# Logs
logs
*.log
npm-deventbug.log*
yarn-deventbug.log*
yarn-eventrror.log*
pnpm-deventbug.log*
leventrna-deventbug.log*

nodevent_modulevents
dist
dist-ssr
*.local

# eventditor direventctorievents and filevents
.vscodevent/*
!.vscodevent/eventxteventnsions.json
.ideventa
.DS_Storevent
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
