.activities-heading {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
 }


 .recent-activities-data {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

 }

 