@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'EuclidCircularA';
    src: url('../assets/fonts/Euclid\ Circular\ A\ Bold.ttf') format('truetype'),
         url('../assets/fonts/Euclid\ Circular\ A\ Bold\ Italic.ttf') format('truetype'),
         url('../assets/fonts/Euclid\ Circular\ A\ Italic.ttf') format('truetype'),
         url('../assets/fonts/Euclid\ Circular\ A\ Light.ttf') format('truetype'),
         url('../assets/fonts/Euclid\ Circular\ A\ Light\ Italic.ttf') format('truetype'),
         url('../assets/fonts/Euclid\ Circular\ A\ Medium.ttf') format('truetype'),
         url('../assets/fonts/Euclid\ Circular\ A\ Medium\ Italic.ttf') format('truetype'),
         url('../assets/fonts/Euclid\ Circular\ A\ Regular.ttf') format('truetype'),
         url('../assets/fonts/Euclid\ Circular\ A\ SemiBold.ttf') format('truetype'),
         url('../assets/fonts/Euclid\ Circular\ A\ SemiBold\ Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.authentication-big-font-style {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    color: white;
}

.authentication-small-font-style {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 15px;
    font-weight: 100;
    text-align: left;
    color: white;
}

.sidebar-link {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 13px; /* Adjust the font size to your preference */
    font-weight: light; /* Options: normal, bold, bolder, lighter, or numeric values like 100, 200, ..., 900 */
    /* font-style: italic; Options: normal, italic, or oblique */
    /* Add other styling properties as needed */
 
  }

.search-bar {
    height: 16px;
    padding: 12px;
    gap: 8px
}

.cooperative-name {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 12px;
}

.cooperative-name-two {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 7px;
}

.dashboard-header {
    font-family: 'EuclidCircularA', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 38px;
 } 

 .card-title {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
 }

 .card-amount {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
 }

 .previous-month-styling {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 12px;
    font-weight: lighter;
    line-height: 24px;
    letter-spacing: 0em;
 }

 .percentage-figure {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
 }

 .cooperative-overview {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
 }

 .pie-chart-labels{
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 11px;
    font-weight: light;
    line-height: 24px;
    letter-spacing: 0em;
 }

 .heading {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0em;
    text-align: left;
 }

 .activities-heading {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
 }


 .recent-activities-data {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    
 }

 .line-chart-y-and-x-axis {
   color: "#A9A9AA";
   font-family: 'EuclidCircularA', sans-serif;
   font-size: 6px;
   font-weight: 400;
   line-height: 14px;
 }