@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'EuclidCircularA';
    src: url('../assets/fonts/Euclid Circular A Bold.ttf') format('truetype'),
         url('../assets/fonts/Euclid Circular A Bold Italic.ttf') format('truetype'),
         url('../assets/fonts/Euclid Circular A Italic.ttf') format('truetype'),
         url('../assets/fonts/Euclid Circular A Light.ttf') format('truetype'),
         url('../assets/fonts/Euclid Circular A Light Italic.ttf') format('truetype'),
         url('../assets/fonts/Euclid Circular A Medium.ttf') format('truetype'),
         url('../assets/fonts/Euclid Circular A Medium Italic.ttf') format('truetype'),
         url('../assets/fonts/Euclid Circular A Regular.ttf') format('truetype'),
         url('../assets/fonts/Euclid Circular A SemiBold.ttf') format('truetype'),
         url('../assets/fonts/Euclid Circular A SemiBold Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.authentication-big-font-style {
    font-family: Euclid Circular A, sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: -0.02em;
    text-align: left;
    color: white;
    width: 590px;
}

.authentication-small-font-style {
    width: 573px;
    height: 97px;
    font-size: 20px;
    font-weight: lighter;
    /*line-height: 30px;*/
    letter-spacing: 0em;
    text-align: left;
    /*font-family: 'EuclidCircularA', sans-serif;*/
    color: white;
    opacity: 85.9%;
}

.forgotten-password-big-font{
    width: 547px;
    height: 50px;
    font-family: Euclid Circular A, sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: -0.02em;
    text-align: left;
}

.forgotten-password-small-font{
    width: 451px;
    height: 60px;
    border: 0.12px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 85.9%;
}

.email-address-big-font{
    width: 108px;
    height: 24px;
    font-family: Euclid Circular A, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #111014;
}

.get-started-big-font-style{
    font-family: Euclid Circular A, sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: -0.02em;
    text-align: left;
    width: 198px;
    height: 50px;
}

.welcome-back-big-font-style{
    font-family: Euclid Circular A,sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: -0.02em;
    text-align: left;
    width: 256px;
    height: 50px;
    margin-bottom: 7px;
}

.account-exists-font-style, .account-does-not-exist-font-style{
    font-family: Euclid Circular A,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 85.9%;
    color: #707171;
}

.account-exists-login-style, .account-does-not-exist-register-style{
    font-family: Euclid Circular A, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #7838D6;
}
.sub-text-font-style{
    font-family: Euclid Circular A,sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.sidebar-link {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 13px; /* Adjust the font size to your preference */
    font-weight: lighter /* Options: normal, bold, bolder, lighter, or numeric values like 100, 200, ..., 900 */
    /* font-style: italic; Options: normal, italic, or oblique */
    /* Add other styling properties as needed */

  }

.search-bar {
    height: 16px;
    padding: 12px;
    gap: 8px
}

.cooperative-name {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 12px;
}

.cooperative-name-two {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 7px;
}

.dashboard-header {
    font-family: 'EuclidCircularA', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 38px;
 }

 .card-title {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
 }

 .card-amount {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
 }

 .previous-month-styling {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 12px;
    font-weight: lighter;
    line-height: 24px;
    letter-spacing: 0em;
 }

 .percentage-figure {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
 }

 .cooperative-overview {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
 }

 .pie-chart-labels{
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 11px;
    font-weight: lighter;
    line-height: 24px;
    letter-spacing: 0em;
 }

 .heading {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0em;
    text-align: left;
 }

 .activities-heading {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
 }


 .recent-activities-data {
    font-family: 'EuclidCircularA', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

 }